.TrendItem {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.TrendItem .up-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.up-section .country {
  font-size: 15px;
  color: rgb(138, 138, 138);
}

.options-icon {
  width: 12px;
  cursor: pointer;
}

.TrendItem .title {
  cursor: pointer;
}

.TrendItem .tweet {
  font-size: 15px;
  color: rgb(138, 138, 138);
}
