.SideMenu {
  width: 20%;
  border-right: 1px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 60px;
}

.SideMenu .logo {
  width: 60px;
  cursor: pointer;
}

.SideMenu img {
  width: 20px;
}

.SideMenu .home,
.explore,
.notification,
.messages {
  display: flex;
  gap: 10px;
}

.explore-icon {
  font-size: 20px;
  color: #03a9f4;
}

.explore-icon img {
  width: 20px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 50%;
}

.home .home-text,
.explore-text,
.notification-text,
.messages-text {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.SideMenu .button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button .btn {
  font-size: 15px;
  background-color: #03a9f4;
  border: 0;
  color: white;
  font-weight: 700;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .SideMenu {
    display: none;
  }
}
