.ModifySection {
  width: 30%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.633);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 0;
  transition: ease 1s;
}

.modify-section-content .button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.3);
}

.ModifySection .modify-section-content {
  width: 400px;
  height: 500px;
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  position: relative;
}

.modify-section-content .title {
  font-size: 2em;
  color: white;
  margin-top: 40px;
}

.modify-section__form {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modify-section__form input {
  font-size: 16px;
  width: 300px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  border: 0;
  border-radius: 8px;
}

.modify-section__form .submit-button {
  font-size: 15px;
  background-color: #03a9f4;
  border: 0;
  color: white;
  font-weight: 700;
  padding: 12px 22px;
  border-radius: 20px;
  cursor: pointer;
}

.submit-button:active {
  background-color: #0e9ee1;
  width: 290px;
}

@media screen and (max-width: 992px) {
  .ModifySection {
    display: none;
  }
}
